div .register-h1 {
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center;
}

form#register {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 680px;
  margin: 0px auto 0;
  padding: 30px;
  background: #fff;
}

form#register input {
  margin-bottom: 15px;
  margin-top: 5px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #ddd;
  padding: 0 20px;
  font-size: 15px;
}

form#register button {
  padding: 10px 20px;
  border-radius: 6px;
  border: 0px;
  color: white;
  background-color: #497cff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

form#register button:hover {
  opacity: 0.8;
  transition: all 0.2s;
}
